/**{
  border: 1px solid red;
}
*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #3461c2;
    color: white;
    width: 100%;
    font-size: 1.2rem;
}
  
form {
    width: 48%;
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

.fieldset1{
    padding-top: 2.8rem;
}

.fieldset2 label, .fieldset4 label{
    margin: 0px;
}

h1, p{
    text-align: center;
    margin: 0;
}
  
h1{
    font-weight: normal;
    padding-top: 2rem;
}
  
p{
    font-style: italic;
    color: #e1e3e8;
    margin-top: 7px;
    margin-bottom: 1.5rem;
}
  
fieldset{
    background-color: #112045;
    padding: 1.2rem 2.4rem;
    border: none;
    border-radius: 5px;
}
  
#dropdown{
    display: block;
    width: 100%;
    padding: 5px 0;
    margin-top: 10px;
    border-radius: 5px;
    height: 2.5rem;
}
  
input{
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    height: 2rem;
}

label{
    display: block;
    margin-bottom: 20px;
}
  
.inline{
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}
  
.textarea{
    width: 100%;
}
  
input[type="submit"]{
    display: block;
    color: #e9edf0;
    font-size: 1rem;
    background-color: #38a65d;
    height: 2.8rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}